@use "index/index";

*,
::after,
::before {
    @include index.resetSettings;
}

html {
    @include index.setHTMLSettings;
}

body {
    @include index.setBodySettings;
}

.container {
    @include index.setContainer;
}

.header {
    height: 100vh;

    .header__nav {
        height: index.$height_navbar;
        background-color: index.$color_menu;

        .nav__container {
            height: 100%;
            @include index.setNavContainer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav__figure {
                height: 100%;

                .nav__img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                }

            }

            .nav__menu {

                .nav__list {
                    display: inline-block;
                    margin-right: 2em;

                    .nav__link {
                        letter-spacing: 3px;
                        color: index.$color_text_1;
                        text-decoration: none;
                        font-family: index.$roboto-sans-serif;
                        font-size: index.$small_size;
                        font-weight: index.$roboto_sans_serif_weight700;
                    }

                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: index.$color_principal;
                        transform: scale(0);
                        transition: 400ms transform ease-in-out;
                        transform-origin: left;
                    }

                    &:hover::after {
                        transform: scale(1);
                        transition: 600ms transform ease-in-out;
                        transform-origin: left;
                    }

                }

            }

        }

    }

    .header__content {
        background-image: url(../assets/images/background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100% - index.$height_navbar);
        position: relative;

        .header__background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);

            .header__container {
                height: 100%;
                overflow: visible;
                position: relative;

                .header__texts {
                    margin-top: 2em;
                    font-family: index.$roboto-sans-serif;

                    .header__title {
                        color: index.$color_text_1;
                        font-size: index.$title_size;
                    }

                    .header__paragraph {
                        width: 50%;
                        color: index.$color_text_1;
                        font-size: index.$paragraph_size;
                    }

                    .header__buttons {
                        width: 50%;
                        margin-top: 3em;
                        display: flex;
                        justify-content: space-evenly;

                        .header__button {
                            background-color: index.$color_principal;
                            color: index.$color_text_1;
                            font-size: index.$paragraph_size;
                            padding: 15px 24px;
                            cursor: pointer;
                            border-radius: 5px;
                            transform: scale(1);
                            transition: 100ms transform;

                            &:nth-of-type(2) {
                                background-color: transparent;
                                border: 2px solid white;
                            }

                            &:active {
                                transform: scale(0.95);
                                transition: 100ms transform;
                            }

                        }

                    }

                }

                .header__cards {
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    font-family: index.$roboto-sans-serif;
                    position: absolute;
                    bottom: -100px;
                    left: 0;

                    .card {
                        width: 20%;
                        padding: 30px;
                        height: 300px;
                        background-color: index.$color_principal;
                        border-radius: 10px;

                        .card__img {
                            width: 100px;
                            height: 100px;
                            display: block;
                            margin: 0 auto;
                            object-fit: cover;
                            object-position: center;
                        }

                        .card__text {
                            margin-top: 3em;
                            color: index.$color_text_1;
                            font-size: index.$small_size;
                            font-weight: index.$roboto_sans_serif_weight700;
                        }

                    }

                }

            }

        }

    }

}

.main {

    .information {
        padding-top: 0.1px;
        font-family: index.$roboto-sans-serif;

        .information__container {
            height: 600px;
            margin-top: 100px;
            display: flex;
            justify-content: space-between;
    
            .info__texts {
                width: 50%;
                padding: 50px 0;

                .info__title {
                    font-size: index.$title_size;
                }

                .info__paragraph {
                    margin-top: 2em;
                    font-size: index.$small_size;
                    font-weight: index.$roboto_sans_serif_weight700;
                }

            }
    
            .info__figure {
                width: 45%;
    
                .info__img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    border-radius: 5px;
                }
    
            }
    
        }
    
    }

}
