@use "../partials/variables";

@mixin resetSettings {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@mixin setContainer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: variables.$paddingContainer;
}

@mixin setNavContainer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: variables.$paddingNavContainer;
}

@mixin setHTMLSettings {
    height: 100%;
}

@mixin setBodySettings {
    min-height: 100vh;
    width: 100%;
}

@mixin setImageLinearGradient($positionElement, $columnStart, $columnEnd, $rowStart, $rowEnd, $imageNumber) {

    &:nth-of-type(#{$positionElement}) {
        grid-column: #{$columnStart} / #{$columnEnd};
        grid-row: #{$rowStart} / #{$rowEnd};
        background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.5) 30%, transparent),
        url(../assets/images/imagen_#{$imageNumber}.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3px;
    }
    
}
