$color_menu: black;
$color_principal: #EB5A2C;
$color_text_1: white;
$color_text_2: black;
$color_paragraph: #969293;
$color_link: #151212;
$color_input: #C6C6C6;
$color_border_botom: #49454567;
$color_bar: #2196F3;
$color_input_focus: rgb(94, 93, 93);
