@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

$roboto-serif: 'Roboto Serif', sans-serif;
$roboto-sans-serif: 'Roboto', sans-serif;

$title_size: 1em * 1.618 * 1.618 * 1.618;
$subtitle_size: 1em * 1.618 * 1.618;
$paragraph_size: 1em * 1.618;
$small_size: 1em;

$roboto_serif_weight300: 300;
$roboto_serif_weight700: 700;
$roboto_sans_serif_weight300: 300;
$roboto_sans_serif_weight700: 700;
